body {
  margin: 0 0 0 0;
  /* overflow-y: auto;
  overflow-x: hidden;
  width: 90%;
  height: 48vw;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100%); */
}
/* #logo {
    height: 5%;
    width: 5%;
    margin: 0 0 0 80%;

}  */
#circle {
  /* 214px by 214px to */
  width: 109px;
  height: 109px;
  background: #665500;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border-bottom-style: double;
  margin: 2% 0 0 45.48%;
  z-index: -1;
}

#letters {
  /* display: flex;
    margin-left: 2.3%;
    z-index: 1; */
  /* margin-top: 7.5px; */
  display: flex;
  margin-left: 0;
  z-index: 2;
  /* margin-top: -108px; */
}

.arrow-j {
  /* margin-top: 130px; */
  margin-top: 65px;
  width: 0;
  height: 0;
  border-style: solid;
  /* border-width: 0px 72px 77.5px 0; */
  border-width: 0px 36px 38.75px 0;
  border-color: transparent #0700b2 transparent transparent;
  z-index: 2;
}

.top-b {
  /*   width: 0; 
     height: 0; 
     border-left: 20px solid transparent;
     border-right: 20px solid transparent;
     border-top: 20px solid #f00; */
  margin-top: 3.5px;
  width: 0;
  height: 0;
  border-style: solid;
  /* border-width: 50px 0 50px 62px; */
  border-width: 25px 0 25px 31px;
  border-color: transparent transparent transparent #040066;
  z-index: 2;
}

.bottom-b {
  /*   width: 0; 
        height: 0; 
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid #f00; */
  margin-top: 0.5px;
  width: 0;
  height: 0;
  border-style: solid;
  /* border-width: 50px 0 50px 62px; */
  border-width: 25px 0 25px 31px;
  border-color: transparent transparent transparent #040066;
  z-index: 2;
}

.arrow-right {
  /*   width: 0; 
     height: 0; 
     border-top: 60px solid transparent;
     border-bottom: 60px solid transparent;
     border-left: 60px solid green; */
  margin-top: 4px;
  width: 0;
  height: 0;
  border-style: solid;
  /* border-width: 200px 0 0 30px; */
  border-width: 100px 0 0 15px;
  border-color: transparent transparent transparent #040066;
  z-index: 2;
}

.arrow-left {
  /*   justify-content: flex-end;
     width: 0; 
     height: 0; 
     border-top: 60px solid transparent;
     border-bottom: 60px solid blue; 
     border-right:30px solid blue;  */
  margin-top: 4px;
  width: 0;
  height: 0;
  border-style: solid;
  /* border-width: 0 0 200px 30px; */
  border-width: 0 0 100px 15px;
  border-color: transparent transparent #0700b2 transparent;
  z-index: 2;
}

div {
  margin-top: 0;
  /* this is coloring the text */
  color: #ddd;
  height: 720px;
}

h2 {
  margin-left: 44.25%;
  margin-top: 0.5%;
  position: fixed;
  color: #665500;
}

.section01 {
  background: url("https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&h=350")
    no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
}

.sticky {
  position: fixed;
  top: 20px;
  width: 100%;
}

.section02 {
  height: 250px;
}

.section02 div {
  /* opacity: 0.5; */
  height: 250px;
  line-height: 180px;
  background: rgba(255, 255, 255, 0.5)
    url("https://source.unsplash.com/1600x900/?star,night") no-repeat center
    center;
  background-size: cover;
  /* -webkit-text-fill-color: transparent; */
  -webkit-background-clip: text;
}

p {
  text-shadow: 1.5px 1.5px black;
  font-size: 20px;
  color: yellow;
  text-decoration-line: underline;
}
#full {
  transform: rotate(-50deg);
  margin: -1.25% 0 0 14%;
}

#stack {
  transform: rotate(50deg);
  margin: -1.1% 0 -3% -11.4%;
}

/* #myHeader {
    display: inline-block;
} */
#myHeader button {
  border-top: 1px solid #51748a;
  background: #4fabe8;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#3e779d),
    to(#4fabe8)
  );
  background: -webkit-linear-gradient(top, #3e779d, #4fabe8);
  background: -moz-linear-gradient(top, #3e779d, #4fabe8);
  background: -ms-linear-gradient(top, #3e779d, #4fabe8);
  background: -o-linear-gradient(top, #3e779d, #4fabe8);
  padding: 13px 26px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  -webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
  -moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
  box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
  color: #d4c81e;
  font-size: 19px;
  font-family: Georgia, serif;
  text-decoration: none;
  vertical-align: middle;
  z-index: 10;
}

#myHeader button:hover {
  border-top-color: #145078;
  background: #145078;
  color: #eb1785;
}

#myHeader button:active {
  border-top-color: #1b435e;
  background: #1b435e;
}

.sticky2 {
  position: fixed;
  top: 20px;
  width: 100%;
}

.section03::before {
  content: "";
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url("https://images.pexels.com/photos/547114/pexels-photo-547114.jpeg?auto=compress&cs=tinysrgb&h=350")
    no-repeat center center;
  background-size: cover;
}

.section03 #myHeader2 p {
  width: 0.3%;
  margin-left: 42%;
  margin-top: -7%;
}

.sticky3 {
  position: fixed;
  top: 21px;
  width: 100%;
  color: #ddd;
}

.section04 {
  height: 250px;
  /* background-color: rgba(255, 225, 185, 1); */
  /* top: 0; */
  /* color: #ddd;  */
}
.section04 div {
  margin: 2% 0 0 45.75%;
  /* opacity: 0.5; */
  height: 250px;
  line-height: 20px;
  background: url("https://source.unsplash.com/1600x900/?star,sky") no-repeat
    center center;
  background-size: cover;
  -webkit-background-clip: text;
  /* -webkit-text-fill-color: transparent; */
}

.section04 #myHeader3 p {
  width: 0.3%;
  margin-left: 8.5%;
  margin-top: -9.2%;
}

.sticky4 {
  position: fixed;
  top: 0;
  width: 100%;
  color: #ddd;
}

.section05 {
  line-height: 63px;
  background: url("https://s3.us-east-2.amazonaws.com/images-jb/downtownsunset.jpeg")
    no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
}

.section05 div {
  margin-top: 11.5%;
  margin-left: 45%;
  height: 100vh;
}
